<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendence Muster</title>
</head>
<link rel="stylesheet" href="home-style.css">
<body>
    <div class="container">
        <h1> Sign In</h1>
        <form name="f1" method="POST" action="/profile">
            <input type="text" name="username" id="uname" placeholder="Enter your username">
            <input type="password" name="password" id="pwd" placeholder="Enter your password">
            <input type="submit" id="sbmt">
        </form>
    </div>
</body>
</html>